h1{
    color: #1976d2;
    position: center;
}

body{
    padding: 20px;
    background-color: #F9F9F9
}

.buttonStack{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttonStack > button{
    flex-grow: 0;
    max-width: 30%
}