h1 {
  color: black;
}

body {
  padding: 10px 20px;
  background-color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url('../public/scale-transparent.png');
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.question {
  text-align: center;
  font-size: 25px;
  margin-top: 10vh;
  max-height: 40vh;
  overflow-y: scroll;
  max-width: 90vw;
  word-wrap: break-word;
  hyphens: auto;
  color: rgb(77, 77, 77);
}

.options {
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.options button {
  color: black;
  width: 110px !important;
  height: 60px;
  flex-grow: 0;
  margin-bottom: 10px !important;
  outline: none;
  background-color: transparent;
  border-radius: 7px;
  border: 1.5px solid black;
  font-size: 20px;
}
